**/node_modules
/** */.pnp
*/coverage
*/.next/
*/out/
*/build
**/.DS_Store
**/*.pem
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*
**/.env*
**/.vercel
**/*.tsbuildinfo
**/next-env.d.ts
**/package-lock.json
**/yarn.lock
**/logs
**/log
**/env.ts
**/env.js
server/public